<h1> Lottery for Housing at a Shelter </h1>
<input type="text" name="search" placeholder="Search by zip code">


<input type="text" name="search" placeholder="Search by zip code">
<br>
<body>
	<p>Search within mile range:</p>
	<input type="range" min="0" max="20" value="0" step="1" onchange="showValue(this.value)" />
	<span id="range">0</span>
	<script type="text/javascript">
		function showValue(newValue)
		{
			document.getElementById("range").innerHTML=newValue + " miles";
		}
	</script>
</body>
<%= button_to "Search", searchresults_url, method: :get %>


