<h1 class="header">LOTTERY FOR HOUSING</h1>


<br><br>

<body>
<div class="realbody">
    <%= form_tag(shelters_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :zipcode, params[:zipcode], placeholder: "Enter Zipcode"%>
	<!-- <input type="text" ="search" placeholder="Search by zip code"> -->
	<br><br>
	<p id="searchtext">Search within mile range:</p>
	<input type="range" min="0" max="20" value="0" step="1" onchange="showValue(this.value)" />
	<span id="range">0</span>
	<script type="text/javascript">
		function showValue(newValue)
		{
			document.getElementById("range").innerHTML=newValue + " miles";
		}
	</script>
	<br><br>
	<div id="submit">
	<%= submit_tag "Search" %>
	</div>
	<% end %>

</div>
</body>







