<html>
<head><div class="header"><h1>FAQs</h1></div></head>
<body>
	<div class="realbody">
	<p><b>How do I add my shelter to Haven?</b></p>
	<p>We’re working on getting our online application set-up, but in the meantime, to add your shelter, send us an email at hello@haven.com. Please include your shelter name, address, phone number, and number of beds you would like to make available on Haven.<p><br>
	<p><b>How does the lottery work?</b></p>
	<p>Haven allows you to streamline the process of lotterying into shelters each night. Search your current zip codes to see which homeless shelters are lottery beds out that night, and feel free to apply to as many as you like (you will only be placed into one). Lottery entries are accepted between 9:00am and 9:30am each day, unless otherwise specified by the shelter. Lottery results are posted by 6:00pm each day, and you have until 7:30pm to confirm your stay. <p><br>
	<p><b>What if I don’t have a mobile phone to check my lottery results? </b></p>
	<p>Instead of the traditional lottery structure at shelters where you must call in to lottery for a number, Haven allows you to access the lottery by both an online application (mobile or web) or the traditional call-in way. This makes the lottery process more accessible. If you do not have a mobile phone, we recommend checking your local library for free access to a computer. You can also always call in from a payphone or walk to the shelter to check lottery results.<p><br>
	<p><b>Does Haven update what my spot on the waitlist is?</b></p>
	<p>Yes! Your waitlist spot is automatically updates!<p><br>
	<p><b>Where can I find more information about the shelters on Haven?</b></p>
	<p>On our Haven iOS app, enter into the Apply for Shelters section and click “See Details” on any of the shelters. On our Haven web app, details will automatically display next to shelter names.<p><br>
	<p><b>What can I do if I’d like to request a shelter be added to Haven?</b></p>
	<p>Go to the “Request a Shelter” section in the Settings area. Fill out the form and we’ll do our best to help! <p><br>
	<br><br>
	</div>
</body>
</html>