
<html>
<head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
  <h1 class="header">HOMES NEAR YOU</h1>
  <div class="searchbody realbody">hi friend</div>
</html>