<h1 class="header">STATUS</h1>
<body>

<div class="searchbody resultsbody">
<table>
  <thead>
    <tr>
      <th>Shelter</th>
      <th>Address</th>
      <th>Application Status</th>

    </tr>
  </thead>

  <tbody>
  <tr>
        <td >Odyssey Villas Intact Families</td>
        <td >625 Spencer Street NW, Atlanta, GA 30318</td>
        <td >all genders, all ages</td>
        <td name=shelter.name id ="app"><button>Button</button></td>
  </tr>

  </tbody>
  </table>
</div>
</body>