<h1 class="header">STATUS</h1>
<body>

<div class="searchbody resultsbody">
<table>
  <thead>
    <tr>
      <th>Shelter</th>
      <th>Address</th>
      <th>Application Status</th>

    </tr>
  </thead>

  <tbody>
  <tr>
        <td >Odyssey Villas Intact Families</td>
        <td >625 Spencer Street NW, Atlanta, GA 30318</td>
        <td >Accepted and Confirmed</td>
        <td name=shelter.name id ="app"><button>Button</button></td>
  </tr>
  <tr>
        <td >The Salvation Army Metro Atlanta Red Shield Service</td>
        <td >469 Marietta Street, Atlanta, GA 30313</td>
        <td >Denied</td>
        <td name=shelter.name id ="app"><button>Button</button></td>
  </tr>

  <tr>
        <td >Gateway Center Atlanta</td>
        <td >275 Pryor St., SW, Atlanta, GA 30303</td>
        <td >#3 on Waitlist</td>
        <td name=shelter.name id ="app"><button>Button</button></td>
  </tr>

  </tbody>
  </table>
</div>
</body>